/* @media mobile */
@media screen and (max-width: $mobile) {
    .principal img {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
    }
  
    article {
      .aboutTitulo {
        h2 {
          @if $titulo ==dark {
          width: 100%;
          text-align: center;
          background-color: black;
          color: gray;
          font-family: $font
        } @else if $titulo ==light {
          width: 100%;
          text-align: center;
          background-image: linear-gradient(rgb(156, 152, 142), rgb(197, 189, 174));
          color: rgb(240, 239, 239);
          font-family: $font
      }
        }
          }
  
      .about {
        .aboutImagen {
          display: grid;
          place-items: center;
  
          img {
            width: 80%;
          }
        }
  
        .aboutInfo {
          width: 80%;
          height: auto;
          margin-top: 10px;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          line-height: 1.2;
          font-family: $fontsec; // Se agregó el punto y coma al final de la propiedad font-family
  
          .aboutBoton a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  
    /* Joyeria */
    .joyeriaInfo,
    .joyeriaInfo,
    .joyeriaInfo {
      margin-top: 1px;
    }
  
    /* Contacto pagina */
    .contactoMaps {
      width: 100%;
    }
  
    /* Pagina About */
    .about {
      h2 {
        @if $titulo ==dark {
        width: 100%;
        text-align: center;
        background-color: black;
        color: gray;
        font-family: $font
      } @else if $titulo ==light {
        width: 100%;
        text-align: center;
        background-image: linear-gradient(rgb(156, 152, 142), rgb(197, 189, 174));
        color: rgb(240, 239, 239);
        font-family: $font
    }
      }
      .aboutInfo {
        max-height: 400px; 
        overflow: auto; 
      }
    }
  }