 
  $font: Verdana, Geneva, Tahoma, sans-serif;
  $fontsec: 'Times New Roman', Times, serif;
  $mobile: 480px;
  $tabletmi: 481px;
  $tabletma: 991px;
  $desktopmi: 992px;
  $desktopma: 1630px;
  
  $titulo: light; 
  
  $tamano: (
    chico: 10px,
    mediano: 12px,
    grande: 14px
  );
  
  $bgColor: (
    gris: rgb(48, 47, 47),
    celeste: lightblue
  );
  