 
  $font: Verdana, Geneva, Tahoma, sans-serif;
  $fontsec: 'Times New Roman', Times, serif;
  $mobile: 480px;
  $desktopmi: 481px;
  $desktopma: 1400px;
  
  $titulo: light; 
  
  $tamano: (
    chico: 10px,
    mediano: 12px,
    grande: 14px
  );
  
  $bgColor: (
    gris: grey,
    celeste: lightblue
  );
  